body {
    margin: 0;
    background: #f0f2f5;
    font-family: Arial;
}

.container {
    max-width: 400px;
    margin: 100px auto;
    text-align: center;
}

.logo {
    width: 120px;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 6px;
    border: 1px solid #ddd;
}

button {
    width: 100%;
    padding: 12px;
    background: #1877f2;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
}

button:hover {
    background: #166fe5;
}
