body {
    background: #f0f2f5;
    font-family: Arial;
    text-align: center;
}

.container {
    margin-top: 100px;
}

.logo {
    width: 120px;
    margin-bottom: 20px;
}

input {
    display: block;
    margin: 10px auto;
    padding: 12px;
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

button {
    padding: 12px;
    width: 270px;
    background: #1877f2;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
}

button:hover {
    background: #166fe5;
}
